name: Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-unknown-linux-gnu

      - name: Install cross compiler
        run: sudo apt-get update && sudo apt-get install -y gcc-aarch64-linux-gnu

       - name: Build aarch64 binary
        env:
          CC_aarch64_unknown_linux_gnu: aarch64-linux-gnu-gcc
          CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER: aarch64-linux-gnu-gcc
        run: cargo build --release --target aarch64-unknown-linux-gnu


      - name: Upload aarch64 binary
        uses: actions/upload-artifact@v4
        with:
          name: textcleaner-aarch64
          path: target/aarch64-unknown-linux-gnu/release/textcleaner

